* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background: url('../images/witcher_bg.png') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  color: $light-text;
  font-family: $font-stack;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  height: 100vh
}

main {
  padding-top: $navbar-height;
  flex: 1;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    opacity: 0.8;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
<<<<<<< Updated upstream
  display: block; /* Usuwa dodatkowe marginesy w niektórych przeglądarkach */
}

.main-content {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: $padding-base * 2;
  background-color: rgba(0, 0, 0, 0.5); /* Półprzezroczyste tło dla lepszej czytelności */

  h1, h2, p {
    color: $white;
  }

  .card {
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    padding: $padding-base;
    margin: $padding-base 0;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    h2 {
      margin-bottom: $padding-base / 2;
      font-size: 1.3em;
    }

    p {
      font-size: 1em;
    }
  }
=======
  display: block;
>>>>>>> Stashed changes
}
