@mixin button-style($color) {
  background-color: $color;
  color: $white;
  padding: $padding-base;
  border-radius: 4px;
  transition: background-color 0.3s ease;

  &:hover {
    @include hover-effect($color, 1.05);
  }
}

@mixin hover-effect($color, $scale) {
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: lighten($color, 10%);
    transform: scale($scale);
  }
}
